@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 180rem;
    margin: auto;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: $dfont_color;
    a,
    a:hover,
    a:active,
    a:visited {
        color: $dfont_color;
    }
}

// responsive
//lower res desktop
@media screen and (max-width: 1365px) {
    body {
        font-size: 1.4rem;
    }
}
